
** Este equipo pertenece al laboratorio del curso de
** {{ curso }}

** si usted sigue atentamente al instructor {{ instructor }}
** entonces ponga en practica lo aprendido

** {{ ansible_hostname }}
** {{ ansible_default_ipv4.address }}
***
***

